{% extends "partials/base.html" %} {% load static %} {% block main %}

<main>
    <div class="full-width_padding">
        <div class="breadcrumb mb-0 d-md-block flex-grow-1">
          <a href="/" class="menu-link menu-link_us-s text-uppercase fw-medium"
            >Home</a
          >
          <span class="breadcrumb-separator menu-link fw-medium ps-1 pe-1"
            >&#10093;</span
          >
          <a href="#" class="menu-link menu-link_us-s text-uppercase fw-medium"
            >Cancellation & Refund</a
          >
        </div>
      </div>
    <div class="mb-5 pb-4"></div>
    <section class="container mw-930 lh-30">
        <h2 class="section-title text-uppercase fw-bold mb-5">
            Cancellation & Refund
        </h2>
        <p class="mb-4 pb-3">
            Thank you for shopping with us! Here at Urban Farm’s, we strive to provide you with a seamless and delightful shopping experience. Please take a moment to review our shipping policy to understand how your orders are processed and delivered.
        </p>
        <h6 class="mb-3">Order Processing Time</h6>
        <p class="mb-4 pb-3">
            All orders are processed within 1-2 business days after payment confirmation, excluding weekends and holidays. <br>
            <p>Orders placed after 12:00 PM PST will be processed the following business day.</p>
        </p>
        <h6 class="mb-3">Shipping Rates</h6>
        <p class="mb-4 pb-3">
            We offer free shipping for domestic orders within India and additional competitive rates for international shipments. <br>
            <p>Shipping rates are calculated based on order weight/volumetric weight, destination, and shipping method chosen during checkout.</p>
        </p>
        <h6 class="mb-3">
            Shipping Methods
        </h6>
        <p class="mb-4 pb-3">
            We partner with reputable courier services to ensure reliable and timely delivery of your orders.<br>
            <p>
                Available shipping methods include standard ground shipping, expedited shipping, and overnight delivery (where applicable).
            </p>
        </p>
        <h6 class="mb-3">Estimated Delivery Time</h6>
        <p class="mb-4 pb-3">
            Delivery times may vary depending on the shipping method selected and the destination of the order. <br>
            Domestic orders typically arrive within 3-7 business days from the date of shipment.<br>International orders may take 7-21 business days for delivery, depending on customs clearance and local postal services
        </p>
        <h6 class="mb-3">Order Tracking</h6>
        <p class="mb-4 pb-3">
            Once your order is shipped, you will receive a confirmation email with tracking information. <br>You can track the status of your order by visiting the "Order Tracking" page on our website or directly through the courier's website.
        </p>
        <h6 class="mb-3">Shipping Restrictions</h6>
        <p class="mb-4 pb-3">
            We currently do not ship to remote area, or international freight forwarders. <br>Some items may be restricted for international shipping due to customs regulations or manufacturer restrictions.
        </p>
        <h6 class="mb-3">Shipping Insurance</h6>
        <p class="mb-4 pb-3">
            Orders are not insured against loss or damage during transit <br>In the rare event that your order is lost or damaged, please contact our customer support team for assistance.
        </p>
        <h6 class="mb-3">Order Changes and Cancellations</h6>
        <p class="mb-4 pb-3">
            Once an order is placed, changes to shipping address or cancellation requests may not be possible. Please contact us immediately if you need to make any modifications to your order.
        </p>
        <h6 class="mb-3">Shipping Holidays</h6>
        <p class="mb-4 pb-3">
            Please note that our shipping carriers observe certain holidays, which may affect delivery times. Orders placed around these holidays may experience delays.
        </p>
        <h6 class="mb-3">Disclaimer</h6>
        <p class="mb-4 pb-3">
            While we strive to meet estimated delivery times, unforeseen circumstances such as weather delays or carrier disruptions may affect delivery schedules. We appreciate your understanding and patience.
        </p>
        <h6 class="mb-3">Last Updated: 01.04.2024</h6>
        <p class="mb-4 pb-3">
            This shipping policy is subject to change without prior notice. Please check back periodically for updates.
        </p>
    </section>
</main>

<div class="mb-5 pb-xl-5"></div>
{% endblock main %}