{% extends "partials/base.html" %} {% load static %} {% block main %}

<main>
    <div class="full-width_padding">
        <div class="breadcrumb mb-0 d-md-block flex-grow-1">
          <a href="/" class="menu-link menu-link_us-s text-uppercase fw-medium"
            >Home</a
          >
          <span class="breadcrumb-separator menu-link fw-medium ps-1 pe-1"
            >&#10093;</span
          >
          <a href="#" class="menu-link menu-link_us-s text-uppercase fw-medium"
            >Terms & Conditions</a
          >
        </div>
      </div>
    <div class="mb-5 pb-4"></div>
    <section class="container mw-930 lh-30">
        <h2 class="section-title text-uppercase fw-bold mb-5">
            Terms & Conditions
        </h2>
        <h6 class="mb-3">Introduction</h6>
        <p class="mb-4 pb-3">
            Urban Farm, including subsidiaries and affiliates, present and future (“Website” Or “Website Owner” or “we” or “us” or “our”) provides information and products contained on the website or any pages that comprise the website to visitors. (Hereafter referred to as “you” or “your”) subject to the terms and conditions set out in these website terms and conditions, the privacy policy and any and all other relevant terms and conditions, policies and notices which may be applicable to the whole or a specific section of the website. <br>The term ‘Urban Farm’ or ‘us’ or ‘we’ refers to the owner of the website whose registered office is B41, Plot No. J7,J8,J9, Kohinur industrial Complex, Taloja MIDC area, Panvel-410 208. <br><br>
            The use of this website and services contained herein are subject to the following terms of use:
            
            <ul>
                <li>The content of the pages of this website is for your information and use only. It is subject to change without notice.</li>
                <li>Neither we, nor any third parties affiliated with us or working with us, provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.</li>
                <li>Your use of any information or materials on this website is entirely at your own risk, for which we shall not and will not be held liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.</li>
                <li>This website contains material which is owned by or licensed to us. This material includes, but is not limited to, product images, Artist bios, commentary on artwork, design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.</li>
                <li>All trademarks reproduced in this website which are not the property of, or licensed to, the operator are acknowledged on the website.</li>
                <li>Unauthorized and unlawful use of this website may give rise to a claim for damages and/or be a criminal offence.</li>
                <li>You cannot copy; reverse engineer; reproduce entirely, or in part; any part of the Website or branding. Prior permission of the holder of copyright needs to be procured before use of any material. The lack of which will leave you open to claims for damages, violation of intellectual property rights and/or criminal proceedings.</li>
                <li>From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).</li>
                <li>You may not create a link to this website from another website or document without Urban Farm’s prior written consent.</li>
                <li>Your use of this website and any dispute arising out of such use of the website is subject to the laws of India or other regulatory authority.</li>
            </ul>
        </p>
    </section>
</main>

<div class="mb-5 pb-xl-5"></div>
{% endblock main %}